@import "../../../styles/breakpoints";
@import "../../../styles/variables";

.footer {
  position: relative;
  &__menu {
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    @include size(14.8rem, 5.75rem);
    box-shadow: 0 0 14px 6px rgba(0, 0, 0, 0.5);
    right: 0;

    bottom: 0;
    margin-right: $padding-horizontal;
    @include flex-col;
    align-items: baseline;
    justify-content: center;
    padding: 0 0.7rem;
    @include lg {
      margin-right: $padding-horizontal-lg;
    }
    background-color: $foreground;
    border: 1px solid $primary;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
    gap: 0.2rem;
    &--visible {
      visibility: visible;
      transform: translateY(-$footer-height);
      @include lg {
        transform: translateY(-$footer-height-lg);
      }
    }

    &__item {
      color: $footer-background;
      border: 0;
      font-family: "Open Sans";
      font-weight: 500;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        color: rgb(254, 158, 35);
        @include focused-gradient-text;
      }
    }
  }

  &__bar {
    background-color: $footer-background;
    border-top: 2px solid rgb(10, 11, 14);
    position: relative;
    height: $footer-height;
    padding: 0 $footer-padding-horizontal;
    overflow: hidden;
    color: $primary;
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    @include lg {
      height: $footer-height-lg;
      padding: 0 $padding-horizontal-lg;
    }

    &__box {
      @include size(4.75rem, 4.75rem);
      position: relative;
      --border-color: rgb(43, 45, 50);
      line-height: 65%;
      font-size: 1.07rem;
      align-content: center;

      @include lg {
        @include size(5.8rem, 5.8rem);
        line-height: 75%;
        font-size: 1.39rem;
      }
      &:hover {
        cursor: pointer;
        color: $accent;
        --border-color: rgb(205, 116, 0);
        --border-rotate: 90deg;
      }

      &__border {
        content: "";
        position: absolute;
        top: 0;
        rotate: var(--border-rotate);
        left: 0;
        @include size-full;
        border: 1px solid var(--border-color);
        transition: rotate 0.5s ease-in-out;
      }
      &__text {
        padding-left: 0.66rem;
        @include size-full;
        @include flex-col;
        justify-content: space-evenly;
      }
    }

    &__company {
      visibility: hidden;

      @include lg {
        visibility: visible;
        font-size: 1.45rem;
        gap: 0.2rem;
        width: 11.1rem;
        position: absolute;
        @include flex-row;
        @include absolute-center;
        align-items: center;
        &:before,
        &:after {
          content: "";
          flex: 1 1;
          padding-top: 0.2rem;
          border-bottom: 1px solid;
          margin: auto;
        }
      }
    }

    &__button {
      @include highlight-button;
      @include size(14.8rem, 2.5rem);
    }
  }
}
