@import "../../../styles/breakpoints";
@import "../../../styles/variables";

.header {
  box-sizing: border-box;
  background-color: $header-background;
  color: $foreground;
  @include size(100%, 5.25rem);
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $header-padding-horizontal;

  @include lg {
    height: 7rem;

    padding: 0 $padding-horizontal-lg;
  }

  &__logo {
    background-color: $logo-background;
    border-radius: 100%;
    display: flex;
    color: $foreground;
    justify-content: center;
    padding: 0.97rem 0.94rem 0.91rem;
    @include lg {
      padding: 0.75rem 0.6rem 0.45rem;
    }

    &:hover {
      @include focused-gradient;
    }
  }

  &__text {
    @include flex-col;
    &__item {
      font-size: 1.05rem;
      &--bold {
        font-weight: bold;
      }
      @include lg {
        font-size: 1.9rem;
      }
      &--thin {
        text-align: right;
        font-weight: 300;
        font-size: 1.04rem;

        @include lg {
          font-size: 1.8rem;
        }
      }
    }
  }
}
