@import "../../../styles/breakpoints";
@import "../../../styles/variables";

.header {
  box-sizing: border-box;
  background-color: $header-background;
  color: $foreground;
  height: 5.25rem;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  @include lg {
    height: 7rem;

    padding: 0 3rem;
  }

  &__logo {
    background-color: $logo-background;
    border-radius: 100%;
    display: flex;
    color: $foreground;
    justify-content: center;
    padding: 0.97rem 0.94rem 0.91rem;
    @include lg {
      padding: 1.15rem 1rem 0.85rem;
    }

    &:hover {
      @include focused-gradient;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    &__item {
      font-size: 1.05rem;
      &--bold {
        font-weight: bold;
      }
      @include lg {
        font-size: 1.9rem;
      }
      &--thin {
        text-align: right;
        font-weight: 300;
        font-size: 1.04rem;

        @include lg {
          font-size: 1.8rem;
        }
      }
    }
  }
}
